.nav{
    box-shadow: 2px,2px,5px #000;
    opacity: .9;
}
.nav .nav-item nav.link{
    color:#000;
    
}
body{
    background-image: url(13.jpeg);
}
.main header{
    position: relative;
    background-size: cover;
    min-height: 700px;
}
.bacgraund-overlay{
    position: absolute;
    background: rgba(165, 94, 234,0.9)
        top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.form-control, .btn{
    border-radius: 1;
}
body{
    justify-items: center;
}
.card{
    float: left;
     margin-top: 20px;
    margin-left: 20px;
    margin-left: 40px;
}
.team {
    background: #03336b;
}